<template>
    <div>
        <v-toolbar flat height="20">
            <v-progress-linear height="10" v-model="trackProgress" @click="updateSeek($event)"></v-progress-linear>
        </v-toolbar>
        <v-toolbar flat height="90">
            <v-btn flat icon @click="toggleMute">
                <template v-if="!muted">
                    <v-icon v-if="volume >= 0.5">volume_up</v-icon>
                    <v-icon v-else-if="volume > 0">volume_down</v-icon>
                    <v-icon v-else>volume_mute</v-icon>
                </template>
                <v-icon v-show="muted">volume_off</v-icon>
            </v-btn>
            <v-slider v-model="volume" @input="updateVolume(volume)" max="1" step="0.1" thumb-color="white"></v-slider>
            {{volume * 100 + '%'}}
            <v-spacer></v-spacer>
            <v-btn outline fab small color="white" @click="skipTrack('prev')">
                <v-icon>skip_previous</v-icon>
            </v-btn>
            <v-btn outline fab small color="white" @click="stopTrack">
                <v-icon>stop</v-icon>
            </v-btn>
            <v-btn outline fab color="white" @click="playTrack()">
                <v-icon large>play_arrow</v-icon>
            </v-btn>
            <v-btn outline fab small color="white" @click="pauseTrack">
                <v-icon>pause</v-icon>
            </v-btn>
            <v-btn outline fab small color="white" @click="skipTrack('next')">
                <v-icon>skip_next</v-icon>
            </v-btn>
            <v-spacer></v-spacer>
            <v-btn flat icon @click="toggleLoop">
                
                <v-icon color="white" v-if="this.isLoop">repeat_one</v-icon>
                <v-icon color="grey" v-else>repeat_one</v-icon>
                
            </v-btn>
            <v-btn flat icon @click="toggleShuffle">
                <v-icon color="white" v-if="this.shuffle">shuffle</v-icon>
                <v-icon color="grey" v-else>shuffle</v-icon>
            </v-btn>
        </v-toolbar>
    </div>
</template>

<script>
export default {
    data:{
        
    },

    computed:{
        trackProgress(){
            return this.progress * 100
        }

    },

    props: {
        muted: Boolean,
        volume: Number,
        isLoop: Boolean,
        shuffle: Boolean,
        progress: Number
    },

    methods: {
        playTrack(index){
            this.$emit('playtrack', index)
        },
        pauseTrack(){
            this.$emit('pausetrack')
        },
        stopTrack(){
            this.$emit('stoptrack')
        },
        skipTrack(direction){
            this.$emit('skiptrack', direction)
        },
        updateVolume(volume){
            let volumeChanged = volume
            Howler.volume(volumeChanged)
            this.volume = volumeChanged
        },
        toggleMute(){
            const isMuted = this.muted
            Howler.mute(!isMuted)
            this.muted = !isMuted
        },
        toggleLoop(){
            //this.loop = !this.loop
            this.$emit('toggleloop', !this.isLoop)
        },
        toggleShuffle(){
            //this.shuffle = !this.shuffle
            this.$emit('toggleshuffle', !this.shuffle)
        },
        updateSeek(event){
            let el = document.querySelector('.v-progress-linear__bar'),
                mousePos = event.offsetX,
                elWidth = el.clientWidth,
                percents = (mousePos / elWidth) * 100
            this.$emit('updateseek', percents)
        }
    },

    created: function(){
        Howler.volume(this.volume)
    }
}
</script>