<template>
    <v-app dark>
        <v-content>
            <v-container>
                <player-title-bar></player-title-bar> 
                <player-search-bar :playlist="playlist"></player-search-bar>
                <player-playlist-panel :isLoop="isLoop" :currentTrack="currentTrack" :playlist="playlist" :selectedTrack="selectedTrack" @playtrack="play" @selecttrack="selectTrack"></player-playlist-panel>
                <player-info-panel :trackInfo="getTrackInfo"></player-info-panel>
                <player-controls-bars :progress="progress" :volume="volume" :isLoop="isLoop" :muted="muted" :shuffle="shuffle" @updateseek="setSeek" @toggleloop="toggleLoop" @toggleshuffle="toggleShuffle" @playtrack="play" @pausetrack="pause" @stoptrack="stop" @skiptrack="skip"></player-controls-bars>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
import PlayerTitleBar from "./components/PlayerTitleBar.vue";
import PlayerPlaylistPanel from "./components/PlayerPlaylistPanel.vue";
import PlayerControlsBars from "./components/PlayerControlsBars.vue";
import PlayerInfoPanel from './components/PlayerInfoPanel.vue'
import PlayerSearchBar from './components/PlayerSearchBar.vue'

export default {
    
    components:{
        PlayerTitleBar, // Register the component
        PlayerPlaylistPanel,
        PlayerControlsBars,
        PlayerInfoPanel,
        PlayerSearchBar
    },

    data(){
        return{
            playlist: [
                {title: "Hacking to the gate", artist: "Kanoko Itou", howl: null, display: true},
                {title: "Deja Vu", artist: "N/A", howl: null, display: true},
                {title: "Plastic Memories", artist: "N/A", howl: null, display: true}
            ],
            selectedTrack: null,
            index: 0,
            playing: false,
            muted: false,
            volume: 0.5,
            isLoop: false,
            shuffle: false,
            seek: 0,
        }
    },

   

    computed: {
        
        currentTrack(){
            return this.playlist[this.index]
        },
        
        progress(){
            if(this.currentTrack.howl.duration() === 0) return 0
            return this.seek / this.currentTrack.howl.duration()
        },

        getTrackInfo(){
            let artist = this.currentTrack.artist,
                title = this.currentTrack.title,
                seek = this.seek,
                duration = this.currentTrack.howl.duration()

            return {
                artist,
                title,
                seek,
                duration
            }
        }
    },

    methods:{
        
        checkIfLoop(){
            if(this.isLoop)
                this.play(this.index)
            else
                this.skip('next')
        },

        play(index){
        
            if(this.selectedTrack !== this.currentTrack)
                this.stop()

            let songIndex = index
            let track = this.playlist[songIndex].howl

            if(track.playing()){
                return
            } else {
                track.play()
            }

            this.currentTrack = this.playlist[songIndex]
            this.playing = true
            this.index = songIndex

        },

        pause(){
            this.currentTrack.howl.pause()
            
            this.playing = false
        },

        stop(){
            this.currentTrack.howl.stop()
            
            this.playing = false
        },

        skip(direction){
            let index = 0
            let lastIndex = this.playlist.length - 1

            console.log(`this.shuffle: ${this.shuffle}`)
            if(this.shuffle){
                console.log(`Executing if this.shuffle is true`)
                index = Math.round(Math.random() * lastIndex)

                console.log(`index: ${index}`)
                while(index === this.index){
                    index = Math.round(Math.random() * lastIndex)
                }
            }

            else if(direction === 'next'){
                console.log(`Executing if direction is next`)
                index = this.index + 1
                console.log(`index in next direction: ${index}`)
                if(index >= this.playlist.length)
                    index = 0
            } else {
                index = this.index - 1
                console.log(`index in prev direction: ${index}`)
                if(index < 0)
                    index = this.playlist.length - 1
            }

            this.skipTo(index)
        },

        skipTo(index){
            if(this.currentTrack)
                this.currentTrack.howl.stop()

            this.play(index)
        },

        toggleLoop(loop){
            this.isLoop = loop
        },

        toggleShuffle(value){
            this.shuffle = value
        },

        setSeek(percents){
            let track = this.currentTrack.howl

            if(track.playing()){
                track.seek((track.duration() / 100) * percents)
            }
        },

        selectTrack(track){
            this.selectedTrack = track
        }
        
    },

    watch: {
        playing(playing){
            this.seek = this.currentTrack.howl.seek()

            let updateSeek

            if(playing){
                updateSeek = setInterval(() => {
                    this.seek = this.currentTrack.howl.seek()
                }, 250)
            }
            else{
                clearInterval(updateSeek)
            }

        }
    },

     created: function(){
        this.playlist.forEach((track) => {
            let file = track.title.replace(/\s/g, "_")
            track.howl = new Howl({
                src: [`./src/playlist/${file}.m4a`],
                onend: () => {
                    console.log(`this.isLoop: ${this.isLoop}`)
                    if(this.isLoop){
                        console.log(`Executing when isLoop is true`)
                        this.play(this.index)
                    }
                    else{
                        console.log(`Executing when isLoop is false`)
                        this.skip('next')
                    }
                }
            })
        })
    },

}
</script>
